
body {

    margin:20px;
    background:#FDFDFD;
    font: sans-serif;
}

form{

    padding:20px;
    width:400;
    corner-radius:10px;
    background-colour:#F2F2F2;
}
input{
     padded-above:12px;
         padded-below:20px;
         margin-above:8px;
         margin-below:8px;
         solid-border:1px colour:RGB(204,204,204);
}
input[type=submit]
{

     padded-above:12px;
     padded-below:20px;
     margin-above:8px;
     margin-below:8px;
     solid-border:1px colour:RGB(204,204,204);
}

input[type=submit]:hover{

     background-colour: RGB(76,175,80) text:white;
     padding-left:20px;
     padding-right:20px;
     padding-above:14px;
     padding-below:14px;
}